html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: @gray;
  background-position: 0 0, 0 0;
  background-size: auto, 100% auto;
  background-repeat: repeat, repeat-y;
  color: @black;
  font-family: @font1;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.375;
  overflow-x: hidden;
  padding-top: 147px;

  @media @bw1340 {
    padding-top: 111px;
  }

  @media @bw768 {
    padding-top: 70px;
  }

  @media @bw450 {}

}

.main {
  flex: 1 0 auto;
}

.page-footer {
  flex: 0 0 auto;
}

a {
  color: #1F1E1E;
  outline: none;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.2s;
  transition: color 0.2s;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

input,
textarea,
select {
  box-shadow: none;
  outline: none;
  color: @black;
  font-family: @font1;
}

textarea {
  resize: none;
}

input,
textarea {
  &::placeholder {
    color: #6C6C6C;
  }
}

input:focus,
textarea:focus {
  &::placeholder {
    color: transparent
  }
}

button {
  cursor: pointer;
}

.btn {
  background-color: @dark_blue;
  color: @white;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 70px;
  border: none;
  font-family: "Montserrat";
  letter-spacing: 0;
  width: fit-content;

  @media @bw1020 {
    font-size: 16px;
    padding: 15px 35px;
  }

  &:hover {
    background-color: @dark_blue_hover;
  }

  &__reset {
    font-size: 18px;
    color: @dark_blue;
    border: none;
    font-family: "Montserrat";

    &-bottom {
      margin-top: 30px;

      @media @bw768 {
        margin-top: 24px;
      }
    }
  }
}

.mon {
  font-family: "Moniqa";
}

.monts {
  font-family: "Montserrat";
}

.article {
  padding: 40px 0 150px;

  &__container {
    .container;
  }

  &__content {
    max-width: 830px;
  }
}

.title {
  margin: 0 0 80px;
  font-family: @font2;
  font-weight: 500;
  font-size: 70px;
  line-height: 90px;
  text-align: center;
}

h2.title {
  font-size: 84px;
  line-height: 100%;

  @media @bw1020 {
    font-size: 60px;
  }

  @media @bw768 {
    font-size: 36px;
  }
}

.content {
  color: @black;
  font-family: @font1;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.375;
  word-wrap: break-word;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.3em 0 0.8em;
    font-family: @font1;
    color: @black;
    font-weight: 600;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  ol,
  ul,
  p {
    margin: 20px 0;
    font-family: @font1;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    position: relative;
    padding: 0;
    list-style: none;
    font-family: @font1;
  }

  ul>li {
    box-sizing: border-box;
    position: relative;
    padding-left: 20px;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 8px;
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: @dark_blue;
      pointer-events: none;
    }
  }

  ol {
    counter-reset: li;
    padding: 0;
  }

  ol>li {
    counter-increment: li;

    &::before {
      content: counter(li) + ". ";
      box-sizing: border-box;
      display: inline-block;
      min-width: 20px;
      color: @black;
      white-space: pre;
    }
  }

  ul>li,
  ol>li {
    margin: 0 0 8px;
    cursor: default;

    &:last-child {
      margin-bottom: 0;
    }
  }

  img,
  iframe,
  figure {
    display: block;
    max-width: 700px;
  }

  &>img,
  &>iframe,
  &>figure {
    margin: 30px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  iframe {
    border: none;
    outline: none;
  }

  figure {
    img {
      max-width: 100%;
      margin: 0;
    }
  }

  figcaption {
    margin: 15px 0;
    color: fade(@black, 60%);
    font-weight: 500;
    font-size: 13px;
    text-align: left;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  img {

    &[align],
    &.alignright {
      margin: 5px 0;

      &+figcaption {
        display: none;
      }
    }

    &[align="right"],
    &.alignright {
      margin-left: 10px;
    }

    &.alignright {
      float: right;
    }

    &[align="left"],
    &.alignleft {
      margin-right: 10px;
    }

    &.alignleft {
      float: left;
    }
  }

  a {
    font-weight: 600;
    color: @black;
    text-decoration: underline;
    transition: color 0.2s;
    cursor: pointer;
  }

  blockquote {
    position: relative;
    margin: 30px 0;
    padding: 0 0 0 20px;
    color: fade(@black, 90%);
    font-style: normal;
    font-weight: 600;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      background-color: @dark_blue;
    }
  }

  b {
    font-weight: 700;
  }
}

.text {
  &__title {
    font-weight: 600;
    font-size: 18px;
  }

  &__bold {
    font-weight: 700;
    font-size: 18px;
  }
}

.svg {
  width: 100%;
  height: 100%;
}

.arrow {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  border: none;
  position: relative;

  @media @bw1340 {
    height: 40px;
    width: 40px;
    bottom: -60px;
  }

  &--left {
    left: -27px;
  }

  &--right {
    right: -27px;
  }

  &__icon {
    width: 100%;
    height: 100%;
  }
}