// Основные цвета
@dark_blue: #0154BB;
@gray: #F3F3F3;
@black: #111111;
@white: #FFFFFF;
@red: #D70332;
@orange: #EC6F2D;
@green: #6ECB03;
@soft_blue: #5899EF;
@yelllow: #FAEB50;
@placeholder: #ACACAC;

// Hover цвета
@dark_blue_hover: #1066D0;
@green_hover: #7CDB10;
@soft_blue_hover: #69A8FC;

// Дополнительные цвета
@gray_50: rgba(122, 122, 122, 1);
@gray_30: rgba(17, 17, 17, 0.3);
@gray_10: rgba(231, 231, 231, 1);
@blue_10: rgba(16, 102, 208, 0.1);

// SHADOW HOVER
@shadow_hover: rgba(0, 0, 0, 0.15);



// Шрифты
@font1: "Open Sans", sans-serif;
@font2: "Moniqa", serif;
@font3: "Montserrat", serif;

@bw350: ~"(max-width: 349px)";
@w350: ~"(min-width: 350px)";
@bw400: ~"(max-width: 399px)";
@w400: ~"(min-width: 400px)";
@bw450: ~"(max-width: 449px)";
@w450: ~"(min-width: 450px)";
@bw500: ~"(max-width: 499px)";
@w500: ~"(min-width: 500px)";
@bw600: ~"(max-width: 599px)";
@w600: ~"(min-width: 600px)";
@bw650: ~"(max-width: 649px)";
@w650: ~"(min-width: 650px)";
@bw768: ~"(max-width: 767px)";
@w768: ~"(min-width: 768px)";

@bw900: ~"(max-width: 899px)";
@w900: ~"(min-width: 900px)";

@bw1020: ~"(max-width: 1019px)";
@w1020: ~"(min-width: 1020px)";
@bw1200: ~"(max-width: 1199px)";
@w1200: ~"(min-width: 1200px)";
@bw1340: ~"(max-width: 1339px)";
@w1340: ~"(max-width: 1340px)";
@bw1660: ~"(max-width: 1659px)";
@w1660: ~"(min-width: 1660px)";