.page-header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 105px;
   display: flex;
   align-items: center;
   z-index: 100;
   background-color: @gray;

   @media @bw1020 {
      height: 75px;
   }

   &:hover {
      box-shadow: 0px 0px 50px 0px @shadow_hover;
   }

   &__container {
      .container;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
   }

   &__catalog {
      display: flex;
      flex-direction: row;
      cursor: pointer;

      &:hover {
         color: @soft_blue;
      }

      &-icon {
         margin-right: 15px;

         &:hover {
            color: @soft_blue;
         }
      }

      &-text {
         @media @bw768 {
            display: none;
         }
      }
   }

   &__logo {
      width: 74px;
      height: 80px;

      @media @bw1020 {
         width: 55px;
         height: 59px;
      }
   }

   &__nav {
      display: flex;
      flex-direction: row;

      @media @bw1020 {
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100vh;
         flex-direction: column;
         align-items: flex-start;
         padding: 70px 30px 30px;
         margin-top: 75px;
         background-color: fade(@gray, 98%);
         transition: transform 0.4s;
         transform: translateX(-100%);
         overflow-x: hidden;
         overflow-y: auto;
         background-color: @gray;
      }

      @media @bw768 {
         margin-top: 65px;
         padding-top: 60px;
      }

      &-link:not(:last-child) {
         margin-right: 50px;

         @media @bw1020 {
            margin-right: inherit;
            margin-bottom: 32px;
         }
      }

      &-link {
         position: relative;

         @media @bw1020 {
            display: flex;
            flex-direction: row;
         }
      }

      &-col {
         position: absolute;
         top: -15px;
         left: 25px;
         font-size: 14px;
         font-weight: 600;
         display: none;
      }

      &-svg {
         stroke: @black;
         fill: transparent;

         @media @bw1020 {
            margin-right: 15px;
         }

         #stroke_black {
            stroke: @black;
         }

         #fill_black {
            fill: @black;
         }

         &.log-in {
            display: none;
         }
      }

      &-text {
         display: none;

         @media @bw1020 {
            display: block;
         }

         @media @bw768 {
            font-size: 14px;
         }
      }
   }

   &__right-block {
      display: none;
      justify-content: flex-end;
      align-items: center;

      @media @bw1020 {
         display: flex;
         width: auto;
      }
   }

   &__nav-toggle {
      display: none;

      @media @bw1020 {
         display: block;
         position: relative;
         right: -11px;
         margin-left: 18px;
         width: 40px;
         height: 40px;
         border: none;
         background: none;
         cursor: pointer;
      }

      @media @bw768 {
         margin-left: 5px;
      }

      &::before,
      &::after {
         content: "";
         display: block;
         position: absolute;
         top: 19px;
         left: 11px;
         width: 18px;
         height: 2px;
         border-radius: 2px;
         background-color: @black;
         transform-origin: 50% 50%;
         transition: transform 0.4s, box-shadow 0.4s;
      }

      &::before {
         top: 13px;
         box-shadow: 0 6px 0 @black;
      }

      &::after {
         top: 25px;
      }
   }
}

.show-nav {
   body {
      @media @bw1020 {
         overflow: hidden;
      }
   }

   .page-header__nav {
      @media @bw1020 {
         transform: translateX(0);
      }
   }

   .page-header__nav-toggle {
      &::before {
         transform: translate(0px, 6px) rotate(45deg);
         box-shadow: none;
      }

      &::after {
         transform: translate(0px, -6px) rotate(-45deg);
      }
   }
}

.user {
   .page-header__nav-svg {
      stroke: @dark_blue;
      fill: @dark_blue;

      &.account {
         display: none;
      }

      &.log-in {
         display: block;
      }
   }

   .page-header__nav-col {
      display: block;
   }
}