.footer {
   width: 100%;
   height: 100%;
   margin-top: 150px;

   @media @bw1020 {
      margin-top: 100px;
   }

   @media @bw768 {
      margin-top: 80px;
   }

   &__logo {
      width: 100%;
      background-color: @red;
      display: flex;

      &-img {
         width: 74px;
         height: 82px;
         margin: 19px auto;

         @media @bw1020 {
            width: 55px;
            height: 59px;
            margin: 13px auto;
         }

         @media @bw768 {
            width: 57px;
            margin: 6px auto;
         }
      }
   }

   &__container {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .container();
      padding-top: 60px;
      padding-bottom: 50px;

      @media @bw1020 {
         padding-top: 55px;
         padding-bottom: 42px;
      }

      @media @bw768 {
         padding-top: 50px;
         padding-bottom: 92px;
      }
   }

   &__content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &-menus {
         display: flex;
         flex-direction: row;
         gap: 174px;

         @media @bw1660 {
            gap: 142px;
         }

         @media @bw1020 {
            gap: 139px;
         }

         @media @bw768 {
            flex-direction: column;
            gap: 40px;
         }

         &-menu {
            display: flex;
            flex-direction: column;
         }

         &-title {
            font-size: 18px;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 32px;

            @media @bw1020 {
               font-size: 16px;
            }

            @media @bw768 {
               margin-bottom: 24px;
            }
         }

         &-link {
            font-size: 18px;

            &:not(:last-child) {
               margin-bottom: 16px;

               @media @bw1020 {
                  margin-bottom: 24px;
               }

               @media @bw768 {
                  margin-bottom: 20px;
               }
            }

            @media @bw1020 {
               font-size: 16px;
            }

            @media @bw768 {
               font-size: 14px;
            }
         }
      }

      &-social {
         &-title {
            font-size: 18px;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 32px;
            text-align: right;

            @media @bw1020 {
               font-size: 16px;
            }

            @media @bw768 {
               margin-bottom: 24px;
            }
         }

         &-links {
            display: flex;
            flex-direction: row;
            gap: 30px;

            @media @bw1020 {
               gap: 20px;
            }

            @media @bw768 {
               flex-direction: column;
               align-items: flex-end;
               gap: 24px;
            }
         }

         &-link {
            width: 50px;
            height: 50px;
            display: block;
         }
      }
   }

   &__policy {
      margin-top: 55px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 57px;
      font-size: 16px;
      font-weight: 600;

      @media @bw1020 {
         margin-top: 42px;
         font-size: 14px;
         gap: 40px;
      }

      @media @bw768 {
         margin-top: 40px;
         gap: 20px;
      }
   }
}